$def with ()

<!DOCTYPE html>
<html lang="en">

<!-- Load style sheets and set meta data -->
<head>
<meta charset="utf-8" />
<title>Error: Empty database</title>
<link rel="stylesheet" type="text/css" href="static/style.css" media="screen">
<link rel="stylesheet" type="text/css" href="static/query.css" media="screen">
<link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon">
</head>

<!-- Body section -->
<body>

<!-- Draw header -->
<div id="banner">
<a href="http://www.nyuwireless.org/"><img src="static/banner.png" height=60px></a>
</div>

<!-- Print information for user -->
<div id="query" style="width:100%;">
<div class="tube">
<p>
It seems that the database or dataset you queried is empty! Please try loading a dataset before loading this page.
</p>

</div></div>

<br><br>

<!-- Close out page -->
</body>
</html>
